$uploadform-base-color: rgba(30, 30, 30, 0.1);

.uploadform {
  padding: 1em;
  border: 4px dotted $uploadform-base-color;
  border-radius: 1rem;

  .drop-title {
    display: block;
    text-align: center;
    color: $uploadform-base-color;
    padding: 60px 0;
  }

  .image-block {
    .upload-image {
      max-width: 100%;
      border-radius: 1rem;
      background: $uploadform-base-color;
    }
  }
}
